@import '~carbon-components/scss/components/tile/tile';

.bx--tile.card {
  height: 8rem;
  margin: 1rem 0 0.5rem 0;
  padding: 1rem;
}

.card {
  a {
    color: #000000;
    text-decoration: none;
  }

  &-tags-wrapper {
    height: 40px;
    overflow: hidden;
  }

  &-text {
    height: 50px;
    margin-top: 0.5rem;
    width: 90%;
    overflow: hidden;
    font-size: 12px;
  }

  &-image {
    width: 100%;
    height: 90px;
  }

  &-image-col {
    padding-right: 0;
  }
}
