.App {
  text-align: center;
}

.bx--content-switcher-btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bx--content-switcher-btn:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bx--tile {
  background-color: #e6e6e6;
}
